<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
		<h2>后记</h2>
		<br/>
		<p><span class="fui-chat"></span> 此控制程序是受python编写的 <em><a href="https://github.com/ganadist/webiopi">webiopi</a></em>控制器刺激，写了一个ruby版本的 <span class="fui-radio-checked"><strong>__</strong></span><span class="fui-radio-checked"></span></p>
		<p> <span class="fui-eye"></span>  本程序github地址： <strong><a class="btn btn-primary" href= "https://github.com/dddd1919/pi_gpio" target="_blank">pi_gpio</a></strong></p>
		<p><span class="fui-chat"></span> 控制器界面使用 <b><a href="http://designmodo.github.io/Flat-UI/"> Flat-UI</a></b>制作，后台使用<b><a href="https://github.com/bmizerany/sinatra">sinatra</a></b>搭建</p>
		<p>GPIO很强大，有很多人用接口做机器控制等工作，非常方便。此程序仅做初级演示，可以用pi_piper这个gem<span class="fui-calendar-solid"></span>做一些更有意思的事情，比如机器人 </p>
		<h3><span class="fui-user"></span> About me</h3>
		<p>个人github: <b><a href="https://github.com/dddd1919">dddd1919</a></b></p>
		<p>更多创意<span class="fui-play"></span>树莓论坛: <b><a href="http://www.shumeipai.net/">Raspberry Pi</a></b></p>
	  </div>
	</div>
  </div>
</div>
