<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <div class="hero-unit">
		<h2> PI 的 GPIO控制器</h2>
		<br/>
		<p> <span class="fui-eye"></span>  此控制程序的GPIO接口控制部分使用 ruby 的 <strong><a href="https://github.com/jwhitehorn/pi_piper" target="_blank">pi_piper</a></strong> gem 制作，可控制针脚的输入输出的电位高低切换等</p>
		<p> <span class="fui-eye"></span>  进入web控制台，请点击 <em><a href="/gpio">GPIO控制台</a></em></p>
		
	  </div>
	</div>
  </div>
</div>
