#utf-8
doctype html
html
  head
    meta charset="utf-8"
    title GPIO control | ruby
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    link href="css/bootstrap.css" rel="stylesheet"
    link href="css/flat-ui.css" rel="stylesheet"
    link rel="shortcut icon" href="images/favicon.ico"

  body

    div class="navbar navbar-inverse navbar-fixed-top row demo-row"
      div class="navbar-inner"
        div class="container"
            button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse"
              span class="icon-bar"
              span class="icon-bar"
              span class="icon-bar"
            div class="nav-collapse collapse"
              ul class="nav"
                li class=""
                  a href="/" 首页
                li class=""
                  a href="gpio" GPIO 控制台
                li class=""
                  a href="about" 关于

    == yield

    / Load JS here for greater good
    script src="js/jquery-1.8.3.min.js"
    script src="js/jquery-ui-1.10.3.custom.min.js"
    script src="js/jquery.ui.touch-punch.min.js"
    script src="js/bootstrap.min.js"
    script src="js/bootstrap-select.js"
    script src="js/bootstrap-switch.js"
    script src="js/jquery.tagsinput.js"
    script src="js/jquery.placeholder.js"
    script src="js/jquery.stacktable.js"
    script src="http://vjs.zencdn.net/c/video.js"
    script src="js/application.js"
    script src="js/flatui-checkbox.js"
    script src="js/flatui-radio.js"
    script type="text/javascript" src="js/webiopi.js"
    script type="text/javascript"
      | webiopi().ready(function() {
      | webiopi().RPiHeader().createTable("content");
      | w().refreshGPIO(true);
      | });